.container {
  width: 40%;
  height: 40%;
  background-color: var(--marron);
  margin: 5%;
  border-radius: 15px;
  border: antiquewhite 10px double;
}

.shift > .container-user, .shift > .container-cpu {
  background-color: antiquewhite;
  margin: 5px;
  padding: 10px;
  width: 50%;
  border-radius: 5px 5px 0 0;
  color: var(--marron);
  text-align: center;
}

.container-result {
  width: 100%;
  height: 25%;
  color: antiquewhite;
  text-align: center;
}

.stats > p {
  display: inline;
}

.shift {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  padding: 5px;
  font-size: 24px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.opt > img, #cpu-image {
  width: 50px;
}


#cpu-image {
  height: 50px;
}